@layout("/common/_curd/_container.html"){

	<form class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _col=[
			
@			  {name:"", index:"id", type:"text",newline:true,length:8},
		@			  {name:"", index:"leave_type", type:"text",newline:true,length:8},
		@			  {name:"", index:"start_time", type:"text",newline:true,length:8},
		@			  {name:"", index:"end_time", type:"text",newline:true,length:8},
		@			  {name:"", index:"leave_days", type:"text",newline:true,length:8},
		@			  {name:"", index:"leave_reason", type:"text",newline:true,length:8},
		@			  {name:"", index:"submit_time", type:"text",newline:true,length:8},
		@			  {name:"审批状态", index:"audit_status", type:"text",newline:true,length:8},
		@			  {name:"审批用户", index:"audit_user_id", type:"text",newline:true,length:8},
		@			  {name:"审批用户", index:"audit_user", type:"text",newline:true,length:8},
		@			  {name:"审批结果", index:"audti_result", type:"text",newline:true,length:8},
		@			  {name:"审批备注", index:"audit_memo", type:"text",newline:true,length:8},
		@			  {name:"审批时间", index:"audit_time", type:"text",newline:true,length:8},
		@			  {name:"撤销状态:0无 ,1撤销申请,", index:"revoke_status", type:"text",newline:true,length:8},
		@			  {name:"", index:"revoke_time", type:"text",newline:true,length:8},
		@			  {name:"", index:"revoke_reason", type:"text",newline:true,length:8},
		@			  {name:"撤销审批状态： 1 待审批，2 已审批", index:"revoke_audit_status", type:"text",newline:true,length:8},
		@			  {name:"撤销审批状态：1 审批通过 2不通过", index:"revoke_audit_result", type:"text",newline:true,length:8},
		@			  {name:"", index:"revoke_audit_time", type:"text",newline:true,length:8}		
		@		   ];
		@ include("/common/_curd/_view.html", {"col":_col}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_close:"关闭"}) {}
	</form>

@}
