@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/update" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="glpt_work";
		@ var _key="id";
		@ var _col=[
		@			  {name:"任务标题", index:"title", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"任务接收人员", index:"reciveuserids", type:"opentreeUser",newline:true,length:8,required:"required"},
		@			  {name:"计划完成时间", index:"plantdate",format:"yyyy-MM-dd", type:"laydate",newline:true,length:8,required:"required"},
		@			  {name:"任务内容", index:"content", type:"kindeditor",newline:true,length:8,required:"required"}
		@		   ];
		@ include("/common/_curd/_edit.html", {"col":_col, "table":_table, "key":_key}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"修改", btn_close:"关闭"}) {}
	</form>
	
@}