@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/update" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="glpt_enterprise_product";
		@ var _key="id";
		@ var _col=[
		@			  {name:"品种", index:"product", maxlength:50, type:"text",newline:true,length:8,required:"required"},
		@			  {name:"年产量", index:"output", maxlength:20, type:"text",newline:true,length:8,required:"required"},
		@			  {name:"主要原材料", index:"materials", maxlength:100, type:"text",newline:true,length:8,required:"required"},
		@			  {name:"入选工业产品推荐使用目录", index:"recommended", type:"textarea",newline:true,length:8},
		@			  {name:"获名牌、驰名商标情况（国家、省、市级及授予时间）", index:"trademark", type:"textarea",newline:true,length:8}
		@		   ];
		@ include("/common/_curd/_edit.html", {"col":_col, "table":_table, "key":_key}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"修改", btn_close:"关闭"}) {}
	</form>

@}