@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	var _filter=JSON.stringify({"enterpriseid_equal":"${pid}"});
	var pid="${pid}";
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = [
						"品种", 
						"年产量", 
						"主要原材料", 
						"入选工业产品推荐使用目录", 
						"获名牌、驰名商标情况（国家、省、市级及授予时间）"];
		var _colmodel = [
						{name:"product", index:"product", width:100},
						{name:"output", index:"output", width:100},
						{name:"materials", index:"materials", width:100},
						{name:"recommended", index:"recommended", width:200},
						{name:"trademark", index:"trademark", width:200}];
		
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc",where: _filter}
		});
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
			@		{name:"品种", index:"product", type:"text"},
			@		{name:"获名牌、驰名商标情况", index:"trademark", type:"text"}
			@];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	<script type="text/javascript">
	$(function(){
		changethis('product','品种','text',1);
		changethis('trademark','获名牌、驰名商标情况','text',2);
	})
	</script>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	