<html class="js cssanimations">
<head>
    <title>传媒管理平台- 投票记录 </title>
    @include("../common/sys_header.html"){}
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
</head>
<body data-type="index" style="">


<div class="tpl-portlet-components" style="padding-right: 50px; padding-top: 20px;">

    <div id="TencentCaptcha"
         data-appid="2086779568"
         data-cbfn="callback"></div>

</div>


@include("../common/sys_footer.html"){}

<script>

    window.callback = function(res){
        console.log(res)
        // res（用户主动关闭验证码）= {ret: 2, ticket: null}
        // res（验证成功） = {ret: 0, ticket: "String", randstr: "String"}
        if(res.ret === 0){
            alert(res.ticket)   // 票据
        }
    }
    $(function () {
        search();
    });


</script>


</body>
</html>