@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/save" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="t_complaint";
		@ var _col=[
@			  {name:"", index:"id", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"投诉类型", index:"ctype", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"用户ID", index:"openid", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"活动id", index:"eventid", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"选手id", index:"merchantid", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"投诉时间", index:"createtime", type:"text",newline:true,length:8,required:"required"}		
		@		   ];
		@ include("/common/_curd/_add.html", {"col":_col, "table":_table}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"新增", btn_close:"关闭"}) {}
	</form>

@}
