<table>
    <tbody>
        <tr style="height:52px" class="firstRow">
            <td width="121" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p>
                    被检查单位名称
                </p>
            </td>
            <td width="523" colspan="4" style="border-width: 1px; border-color: windowtext; padding: 0px;"></td>
        </tr>
        <tr style=";height:52px">
            <td width="121" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    被检查单位地址
                </p>
            </td>
            <td width="324" colspan="2" style="border-width: 1px; border-color: windowtext; padding: 0px;"></td>
            <td width="84" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    员工人数
                </p>
            </td>
            <td width="115" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    人
                </p>
            </td>
        </tr>
        <tr style=";height:52px">
            <td width="121" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    企业负责人
                </p>
            </td>
            <td width="155" style="border-width: 1px; border-color: windowtext; padding: 0px;"></td>
            <td width="168" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    联系电话
                </p>
            </td>
            <td width="199" colspan="2" style="border-width: 1px; border-color: windowtext; padding: 0px;"></td>
        </tr>
        <tr style=";height:52px">
            <td width="276" colspan="2" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    检查内容
                </p>
            </td>
            <td width="368" colspan="3" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    检查结果
                </p>
            </td>
        </tr>
        <tr style=";height:52px">
            <td width="276" colspan="2" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    工商营业执照
                </p>
            </td>
            <td width="368" colspan="3" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    有（）无（）
                </p>
            </td>
        </tr>
        <tr style=";height:52px">
            <td width="276" colspan="2" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    “三合一”现象
                </p>
            </td>
            <td width="368" colspan="3" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    有（）_个房间_张床铺 无（）
                </p>
            </td>
        </tr>
        <tr style=";height:52px">
            <td width="276" colspan="2" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    厂房结构
                </p>
            </td>
            <td width="368" colspan="3" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    标准（）砖混（）砖木（）钢架（）
                </p>
                <p >
                    &nbsp;
                </p>
                <p >
                    共_层第_层共_平方米
                </p>
            </td>
        </tr>
        <tr style=";height:52px">
            <td width="276" colspan="2" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    消防通道
                </p>
            </td>
            <td width="368" colspan="3" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    双（）单（）通道
                </p>
                <p >
                    畅通（）堵塞（）
                </p>
            </td>
        </tr>
        <tr style=";height:60px">
            <td width="276" colspan="2" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    灭火器
                </p>
            </td>
            <td width="368" colspan="3" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    4kg_<span style="font-size:16px;font-family:   仿宋_GB2312">个，25kg_个</span>
                </p>
                <p >
                    正常（）失效（）过期（）到期（）
                </p>
            </td>
        </tr>
        <tr style=";height:52px">
            <td width="276" colspan="2" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    是否开展安全生产标准化
                </p>
            </td>
            <td width="368" colspan="3" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    是（）否（）
                </p>
            </td>
        </tr>
        <tr style=";height:210px">
            <td width="644" colspan="5" valign="top" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <table width="644">
                    <tbody>
                        <tr style=";height:52px" class="firstRow">
                            <td width="276" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                                <p >
                                    <span style="font-size:16px;font-family:     仿宋_GB2312">是否开展职业卫生基础建设</span>
                                </p>
                            </td>
                            <td width="368" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                                <p >
                                    <span style="font-size:16px;font-family:     仿宋_GB2312">是（）否（）</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="line-height:18px">
                    其他意见：
                </p>
                <table width="644">
                    <tbody>
                        <tr style=";height:74px" class="firstRow">
                            <td width="121" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                                <p >
                                    <span style="font-size:16px;font-family:     仿宋_GB2312">企业所属</span>
                                </p>
                                <p >
                                    <span style="font-size:16px;font-family:     仿宋_GB2312">专项整治的类型</span>
                                </p>
                            </td>
                            <td width="523" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                                <p style="line-height:18px">
                                    液氨（）；粉尘（）；塑胶（）；有限空间（）；燃气和醇基燃料（）；劳动密集型（）；高层建筑（）；电动车（）；危险化学品（）；在建工程（）；特种设备（）；普通类型（）。
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="line-height:18px">
                    <br/>
                </p>
            </td>
        </tr>
        <tr style=";height:40px">
            <td width="121" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    检查人
                </p>
            </td>
            <td width="523" colspan="4" style="border-width: 1px; border-color: windowtext; padding: 0px;"></td>
        </tr>
        <tr style=";height:71px">
            <td width="121" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    检查日期
                </p>
            </td>
            <td width="523" colspan="4" style="border-width: 1px; border-color: windowtext; padding: 0px;">
                <p >
                    201&nbsp; 年_月_日
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br/>
</p>