@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
	});
	
	function initGrid(){
		var grid_url = ctx + "/enterpriseRegistType/list";
		var _colnames = [
						"片区名称", 
						"企业名称", 
						"企业地址", 
						"预警类型",
						"注册地址",
						"预警日期",
						"核查"];
		var _colmodel = [
						{name :'FULLNAME',index : 'FULLNAME',width : 60},
						{name:"name", index:"name", width:120},//, formatter:nameFmatter
						{name:"address", index:"address", width:150},//, formatter:nameFmatter
						{name:"outregistName", index:"outregistName", width:80},
						{name:"registaddress", index:"registaddress", width:150},
						{name:"checkdate", index:"checkdate", width:80, formatter:"date", formatoptions: {newformat:'Y-m-d'}},
						{label:'核查',name: 'outregist',index: 'outregist',width: 60, sortable: false,align:'center',formatter:hcFmatter,cellattr: addCellAttr,  
						    editable:true,edittype:'button' 
						}];
		
		var postData=initData();
		$.extend(postData, {sort : "id", order : "desc"});
		jQuery(grid_selector).jqGrid({
			url : grid_url,
	        shrinkToFit:true,
	        multiselect : false,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : postData
		});
	}
	
	
	function hcFmatter(cellvalue, options, rowObject){
		var html="";
		if(cellvalue!=1){
			html="<a style=\"cursor: pointer\" onclick=\"check("+rowObject.id+")\">核查 </a>";
		}
		return html;
	}
	function check(id){
		var url=ctx+"/enterpriseRegistType/edit/"+id;
		showWin(url,"核查企业信息",768,400);
	}
	function addCellAttr(rowId, val, rawObject, cm, rdata) {  
	    return "style='overflow: visible;'";  
	}  
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
		    <div class="wellsearch well-sm" id="searchfield" style="height:43px;">
			<div class="col-xs-12 input-group">
			
			<!-- 简单查询第一组 -->
				<div class="input-group-btn">
					<div class="btn btn-sx btn-white dropdown-toggle">
						<span >归属片区</span> 
					</div>
				</div>
				<div >
					<blade:select  type="area" showAll="1"  name="search.areaid" placeholder="请选择归属片区" required="required"  />
				</div>
				<span class="input-group-btn"></span>

			<!-- 简单查询第二组 -->
				<div class="input-group-btn">
					<div class="btn btn-sx btn-white dropdown-toggle">
						<span >所在楼宇</span> 
					</div>
				</div>
				<div >
					<input type="text" id="_building_INPUT" style="cursor: pointer;width:150px;"  onfocus="this.blur()"  class="form-control" />
					<input type="hidden" id="_building"  data-type="openpage" name="building"  />
					<script type="text/javascript">
					$(function(){
						$("#_building_INPUT").bind("click",function(){
							var val = $("#_building").val();
							var urlParaSeparator = "&";
							val = (val == "") ? 0 : val;
							layer.open({
				        	    type: 2,
				        	    title:"楼宇选择",
				        	    area: ["850px", "420px"],
				        	    fix: false, //不固定
				        	    maxmin: true,
				        	    content: basePath+"/building/select?"
									+"type=openpage&targetid=building"
				        	});
						});
					})
					</script>
				</div>
				<span class="input-group-btn"></span>
				
			
				<!-- 简单查询第二组 -->
			 	<div class="input-group-btn">
					<div class="btn btn-sx btn-white dropdown-toggle">
						<span >预警类型</span> 
					</div>
				</div>
				<div >
						<blade:select showAll="1"  width="100px"   code="10022" name=".outregist"  type="dict"  />
				</div>
				<span class="input-group-btn"></span> 
				<!-- 简单查询第二组 -->
			 	<div class="input-group-btn">
					<div class="btn btn-sx btn-white dropdown-toggle">
						<span >预警日期</span> 
					</div>
				</div>
				<div >
				@var x1={name:"",width:"100px", index:"checkdate_gt", type:"laydate",datetype:"date"};
						<blade:laydate x="${x1}"/>
					<sapn style="float:left; padding-top:5px;">—</sapn>
				@var x2={name:"",width:"100px", index:"checkdate_lt", type:"laydate",datetype:"date"};
						<blade:laydate x="${x2}"/>
					</div>
				
			
				
	
			<!-- 简单查询按钮 -->
				<div class="input-group-btn">
					<button class="btn btn-sx btn-inverse"  onclick="doSearch();" style="border: none;">查询</button>
					<!-- <button class="btn btn-sx btn-white" id="gotoReset">重置</button> -->
				</div>
			</div>

		</div>
				
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	
<script type="text/javascript">
function initData(){
	 var postData={
			 areaid:$("#_areaid").val(),
 			buildingid:$("#_building").val(),
 			outregist:$("#_outregist").val(),
 			checkdate_gt:$("#_checkdate_gt").val(),
 			checkdate_lt:$("#_checkdate_lt").val()
 			};
	 return postData;
}
function doSearch(){
	 var pageNum = $jqGrid.getGridParam('page');
	 var postData=initData();
     $jqGrid.jqGrid("setGridParam", { postData:postData, page:pageNum}).trigger("reloadGrid");
}
</script>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html",{rightMenu:false}){}
	
@}	