<div id='webFooter' class='webFooter'>
    <div id='footer' class='footer mallThemeFooter'>
        <div class='bottomdiv'>
            <div class='bottom'>
                <div class='backtop' onclick='Mobi.scrollToTop("webContainerBox")'>top<b></b></div>
            </div>
        </div>
        <div class="technical">
            <div class="technicalSupport footerInfo" style="color: rgb(153, 153, 153); font-size: 0.6rem;">
                2018 - ${siteName} 版权所有
            </div>
            <div class="technicalSupport" style="color: rgb(153, 153, 153); font-size: 0.6rem;">
                技术支持：${siteName}
            </div>
        </div>
    </div>

</div>
<div id='webCustomerServiceBox' class='webCustomerServiceBox' style=''>

    <div class='customerServiceDiv' id='customerServiceDiv'>
        <div  class='customServiceLine'></div>
        <div class='service serviceClass_1' >
            <div  class='navItem navItem_1 icon-navItem'>
                <a  href='${basePath}/index'>
                <div class='serBaseIcon'>
                    <div class='icon' id='svebar_1'><span class='serItemIcon icon-serItemIcon'></span>
                        <div id='describeName_1' class='describe'>首页</div>
                    </div>
                </div>
            </a></div>
        </div>
        <div id='customServiceLine_4' class='customServiceLine'></div>
        <div class='service serviceClass_4' id='customerServiceType_4'>
            <div id='serviceNavItem_4' class='navItem navItem_4 icon-navItem'>
                <a id='numberHref_4' href='${basePath}/news'>
                    <div class='serBaseIcon'>
                        <div class='icon' id='svebar_4'><span class='serItemIcon icon-serItemIcon'></span>
                            <div id='describeName_4' class='describe'>新闻资讯</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id='customServiceLine_3' class='customServiceLine'></div>
        <div class='service serviceClass_3' id='customerServiceType_3'>
            <div id='serviceNavItem_3' class='navItem navItem_3 icon-navItem'>
                <a id='numberHref_3'  href='${basePath}/about'>
                <div class='serBaseIcon'>
                    <div class='icon' id='svebar_3'><span class='serItemIcon icon-serItemIcon'></span>
                        <div id='describeName_3' class='describe'>关于公司</div>
                    </div>
                </div>
            </a></div>
        </div>
        <div id='customServiceLine_5' class='customServiceLine'></div>
        <div class='service serviceClass_5' id='customerServiceType_5'>
            <div id='serviceNavItem_5' class='navItem navItem_5 icon-navItem'>
                <!--<a id='numberHref_5' target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin=258506508&site=qq&menu=yes'>-->
                <!--<a id='numberHref_5' target='_blank' href='javascript: Mobi.showWeChatService("${basePath}/siteresource/image/weixin.jpg");'>-->
                <a id='numberHref_5' href='${basePath}/service'>
                    <div class='serBaseIcon'>
                        <div class='icon' id='svebar_5'><span class='serItemIcon icon-serItemIcon'></span>
                            <div id='describeName_5' class='describe'>服务咨询</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="webMapServiceBox fk-webMapServiceBox" id="webMapServiceBox">
    <div style="display:table;height:100%;width:100%;border-collapse: collapse;">
        <div style="display:table-row;">
            <div style="display:table-cell;">
                <div class="webMapHeader webHeaderBg">
                    <div class="g_close icon-gClose" onclick="Mobi.closeMapService()"></div>
                </div>
            </div>
        </div>
        <div style="height:100%;width:100%;display:table-row;">
            <div class="f-webMapIframeWrap">
                <iframe id="mobiSearchMapFrame" frameborder="0" width="100%" height="100%" scrolling="auto"></iframe>
            </div>
        </div>
    </div>
</div>