<div id='header' class='header-forLogo header ' style='padding:0px;'>
               <!-- <span class='pageLogo '>
                        <div   class='J_logoImg logoImg ' style='background-image:url("${basePath}/siteresource/image/logo.png");background-size:9rem 6rem;background-position: 0px -2rem;background-repeat: no-repeat;'></div>
                </span>-->
    <span  class='pageTitle ' id='pageTitle'>
                    <h1  style='font-weight:normal; font-size: inherit; display: inline-block; width: 100%; overflow: hidden; text-overflow: ellipsis;'>
                        ${siteName!}
                    </h1>
                </span>
</div>