
<script type="text/javascript" src="${basePath}/siteresource/js/common.js"></script>
<script type="text/javascript" src="${basePath}/siteresource/js/locale/2052.min.js"></script>
<script type="text/javascript" charset="utf-8" src="${basePath}/siteresource/js/jqmobi/jqmobi.min.js"></script>
<script type="text/javascript" charset="utf-8" src="${basePath}/siteresource/js/jqmobi/jqmobi_ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="${basePath}/siteresource/js/comm/clipboard/clipboard.min.js"></script>
<script id="mobiOperationJS" type="text/javascript" charset="utf-8" src="${basePath}/siteresource/js/mobi.min.js"></script>
<script type="text/javascript" charset="utf-8" src="${basePath}/siteresource/js/moduleAnimation.min.js"></script>
<script type="text/javascript" charset="utf-8" src="${basePath}/siteresource/js/pageinit.js"></script>