<base href="${basePath}">

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=2.0, user-scalable=1"> -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="layoutmode" content="standard">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="renderer" content="webkit">
<!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
<meta name="wap-font-scale" content="no">
<meta content="telephone=no" name="format-detection" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<script type="text/javascript" src="${basePath}/resources/js/common/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="${basePath}/siteresource/css/fontsIco.min.css" />
<link rel="stylesheet" type="text/css" href="${basePath}/siteresource/css/base.min.css" title="default" />
<link rel="stylesheet" type="text/css" href="${basePath}/siteresource/css/bannerAnimation.min.css" title="" />
<link rel="stylesheet" type="text/css" href="${basePath}/siteresource/css/moduleAnimation.min.css" title="" />
<link rel="stylesheet" type="text/css" href="${basePath}/siteresource/css/common.css" />

<link rel="stylesheet" id="mobiStyleTemplateCss" type="text/css" href="${basePath}/siteresource/css/template/1030_1.min.css"/>

<script type="text/javascript" charset="utf-8" src="${basePath}/siteresource/js/jzUtils.min.js"></script>



<script>
var CONTEXT_PATH="${basePath}";
</script>