<div id="webFooterBox" class="webFooterBox ">
    <!--图片详情Div -->


    <div id='webFooter' class='webFooter1'>
        <div id='footer' class='footer1 mallThemeFooter1'>
            <div class='bottomdiv'>
                <div class='bottom'>
                    <div class='backtop' onclick='Mobi.scrollToTop("webContainerBox")'>top<b></b></div>
                </div>
            </div>
        </div>
    </div>
    <style id='mobiStyleService' type='text/css'>
        .open .navItem:nth-child(2) {
            transition-delay: 160ms;
        }

        #svebar_1 .icon-serItemIcon:before {
            content: '\e686';
        }

        #svebar_1 .icon-serItemIcon {
            background-image: none;
        }

        .open .navItem:nth-child(4) {
            transition-delay: 240ms;
        }

        #svebar_4 .icon-serItemIcon:before {
            content: '\e64c';
        }

        #svebar_2 .icon-serItemIcon {
            background-image: none;
        }

        .open .navItem:nth-child(6) {
            transition-delay: 320ms;
        }


        .open .navItem:nth-child(8) {
            transition-delay: 400ms;
        }

        #svebar_3 .icon-serItemIcon:before {
            content: '\e6ae';
        }

        #svebar_3 .icon-serItemIcon {
            background-image: none;
        }

        .open .navItem:nth-child(10) {
            transition-delay: 480ms;
        }
        #svebar_2 .icon-serItemIcon:before {
            content: '\e678';
        }

        #svebar_4 .icon-serItemIcon {
            background-image: none;
        }

        #svebar_5 .icon-serItemIcon:before {
            content: '\e682';
        }

        #svebar_5 .icon-serItemIcon {
            background-image: none;
        }
        #btnSend{
            margin: 0px;
            height: 1rem;
            line-height: 1rem;
            width: 100%;
            font-size: 1em;
        }
        #btnSend .icon-serItemIcon{
            width: 1rem;
            color: #fff;
        }
        #btnSend .icon-serItemIcon:before {
            content: '\e698';
        }
    </style>
    <div id='webCustomerServiceBox' class='webCustomerServiceBox' style="opacity: 1;">
        <div class='customerServiceDiv' id='customerServiceDiv'>
            <div id='customServiceLine_1' class='customServiceLine'></div>
            <div class='service serviceClass_1' id='customerServiceType_1' style="width: 20%;">
                <div id='serviceNavItem_1' class='navItem navItem_1 icon-navItem'>
                    <a id='numberHref_1'  href='${basePath}/event?eid=${session.event.id}'>
                    <div class='serBaseIcon'>
                        <div class='icon' id='svebar_1'><span class='serItemIcon icon-home'></span>
                            <div id='describeName_1' class='describe'>首页</div>
                        </div>
                    </div>
                </a></div>
            </div>
            <div id='customServiceLine_2' class='customServiceLine'></div>
            <div class='service serviceClass_2' id='customerServiceType_2' style="width: 20%;">
                <div id='serviceNavItem_2' class='navItem navItem_2 icon-navItem'>
                    <a id='numberHref_2'  href='${basePath}/event/prize?eid=${session.event.id}'>
                    <div class='serBaseIcon'>
                        <div class='icon' id='svebar_2'><span class='serItemIcon icon-gift'></span>
                            <div id='describeName_2' class='describe'>奖品</div>
                        </div>
                    </div>
                </a></div>
            </div>
            <div id='customServiceLine_4' class='customServiceLine'></div>
            <div class='service serviceClass_4' id='customerServiceType_4' style="width: 20%;">
                <div id='serviceNavItem_4' class='navItem navItem_4 icon-navItem'>
                    <a id='numberHref_4' href='${basePath}/order?eid=${session.event.id}'>
                    <div class='serBaseIcon'>
                        <div class='icon' id='svebar_4'><span class='serItemIcon icon-list2'></span>
                            <div id='describeName_4' class='describe'>排名</div>
                        </div>
                    </div>
                </a></div>
            </div>
            <div id='customServiceLine_3' class='customServiceLine'></div>
            <div class='service serviceClass_3' id='customerServiceType_3' style="width: 20%;">
                <div id='serviceNavItem_3' class='navItem navItem_3 icon-navItem'>
                    <a id='numberHref_3' href='${basePath}/entry?eid=${session.event.id}'>
                    <div class='serBaseIcon'>
                        <div class='icon' id='svebar_3'><span class='serItemIcon icon-profile'></span>
                            <div id='describeName_3' class='describe'>报名</div>
                        </div>
                    </div>
                </a></div>
            </div>
            <div id='customServiceLine_5' class='customServiceLine'></div>
            <div class='service serviceClass_5' id='customerServiceType_5' style="width: 20%;">
                <div id='serviceNavItem_5' class='navItem navItem_5 icon-navItem'>
                    <a id='numberHref_5'  href='${basePath}/complaint'>
                    <div class='serBaseIcon'>
                        <div class='icon' id='svebar_5'><span class='serItemIcon icon-bubbles2'></span>
                            <div id='describeName_5' class='describe'>投诉</div>
                        </div>
                    </div>
                </a></div>
            </div>
        </div>
    </div>
    <div class='webMapServiceBox fk-webMapServiceBox' id='webMapServiceBox'>
        <div style='display:table;height:100%;width:100%;border-collapse: collapse;'>
            <div style='display:table-row;'>
                <div style='display:table-cell;'>
                    <div class='webMapHeader webHeaderBg'>
                        <div class='g_close icon-gClose' onclick='Mobi.closeMapService()'></div>
                    </div>
                </div>
            </div>
            <div style='height:100%;width:100%;display:table-row;'>
                <div class='f-webMapIframeWrap'>
                    <iframe id='mobiSearchMapFrame' frameborder='0' width='100%' height='100%'
                            scrolling='auto'></iframe>
                </div>
            </div>
        </div>
    </div>
    <div id="fullScreenDivCotainer" class='fullScreenDivCotainer'></div>
</div>
