<div id='webFooter' class='webFooter'>
    <div id='footer' class='footer mallThemeFooter'>
        <div class='bottomdiv'>
            <div class='bottom'>
                <div class='backtop' onclick='Mobi.scrollToTop("webContainerBox")'>top<b></b></div>
            </div>
        </div>
    </div>

</div>
<div id='webCustomerServiceBox' class='webCustomerServiceBox' style=''>

    <div class='customerServiceDiv' id='customerServiceDiv'>
        <div id='customServiceLine_1' class='customServiceLine'></div>
        <div class='service serviceClass_1' id='customerServiceType_1'>
            <div id='serviceNavItem_1' class='navItem navItem_1 icon-navItem'><a id='numberHref_1'
                                                                                 href='tel:400-000-0000'>
                <div class='serBaseIcon'>
                    <div class='icon' id='svebar_1'><span class='serItemIcon icon-serItemIcon'></span>
                        <div id='describeName_1' class='describe'>电话咨询</div>
                    </div>
                </div>
            </a></div>
        </div>
        <div id='customServiceLine_3' class='customServiceLine'></div>
        <div class='service serviceClass_3' id='customerServiceType_3'>
            <div id='serviceNavItem_3' class='navItem navItem_3 icon-navItem'><a id='numberHref_3'
                                                                                 href='javascript:;'
                                                                                 onclick='Mobi.showMapService()'>
                <div class='serBaseIcon'>
                    <div class='icon' id='svebar_3'><span class='serItemIcon icon-serItemIcon'></span>
                        <div id='describeName_3' class='describe'>在线地图</div>
                    </div>
                </div>
            </a></div>
        </div>
        <div id='customServiceLine_4' class='customServiceLine'></div>
        <div class='service serviceClass_4' id='customerServiceType_4'>
            <div id='serviceNavItem_4' class='navItem navItem_4 icon-navItem'>
                <a id='numberHref_4' href='mb.jsp'>
                <div class='serBaseIcon'>
                    <div class='icon' id='svebar_4'><span class='serItemIcon icon-serItemIcon'></span>
                        <div id='describeName_4' class='describe'>在线留言</div>
                    </div>
                </div>
            </a>
            </div>
        </div>
        <div id='customServiceLine_5' class='customServiceLine'></div>
        <div class='service serviceClass_5' id='customerServiceType_5'>
            <div id='serviceNavItem_5' class='navItem navItem_5 icon-navItem'>
                <a id='numberHref_5'  target='_blank'  href='http://wpa.qq.com/msgrd?v=3&uin=258506508&site=qq&menu=yes'>
                <div class='serBaseIcon'>
                    <div class='icon' id='svebar_5'><span class='serItemIcon icon-serItemIcon'></span>
                        <div id='describeName_5' class='describe'>QQ客服</div>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
