<div id='header' class='header-forLogo header ' style='padding:0px;'>
                <!--<span class='pageLogo '>-->
                        <!--<div   class='J_logoImg logoImg ' style='background-size: 3.5rem 3.5rem;    background-position: -0.7rem -0.6rem;background-repeat: no-repeat;'></div>-->
                <!--</span>-->
    <span  class='pageTitle ' id='pageTitle'>
                    <h1  style='font-weight:normal; font-size: inherit; display: inline-block; width: 100%; overflow: hidden; text-overflow: ellipsis;'>
                        <a href='/' style='color:inherit;'>${eModel.name!}</a>
                    </h1>
                </span>
</div>