<div id='navbar' class='navbar navBaseIcon'>
    <div id='navbarList' class='navbarList  '>
        <div id='itemSep_3' class='itemSep'></div>
        <div id='navItem_3' class='navItem navItem_3 itemSelected icon-navItem'><a href='${basePath}/index'
                                                                                   _colid='3' id='navbar_3'><span
                class='navItemIcon icon-navItemIcon J_fontIcon'></span><span class='nameWrap'><span
                class='navItemName'><span>首页</span></span></span><span class='icon-subNav'></span></a></div>
        <div id='itemSep_103' class='itemSep'></div>
        <div id='navItem_103' class='navItem navItem_103  icon-navItem'><a href='${basePath}/about' _colid='103'
                                                                           id='navbar_103'><span
                class='navItemIcon icon-navItemIcon J_fontIcon'></span><span class='nameWrap'><span
                class='navItemName'><span>关于公司</span></span></span><span class='icon-subNav'></span></a>
        </div>
        <div id='itemSep_106' class='itemSep'></div>
        <div id='navItem_106' class='navItem navItem_106  icon-navItem'><a href='${basePath}/service' _colid='106'
                                                                           id='navbar_106'><span
                class='navItemIcon icon-navItemIcon J_fontIcon'></span><span class='nameWrap'><span
                class='navItemName'><span>服务咨询</span></span></span><span class='icon-subNav'></span></a>
        </div>
        <div id='itemSep_105' class='itemSep'></div>
        <div id='navItem_105' class='navItem navItem_105  icon-navItem'><a href='${basePath}/news' _colid='105'
                                                                           id='navbar_105'><span
                class='navItemIcon icon-navItemIcon J_fontIcon'></span><span class='nameWrap'><span
                class='navItemName'><span>新闻资讯</span></span></span><span class='icon-subNav'></span></a>
        </div>
        <div id='itemSep_107' class='itemSep'></div>
        <div id='navItem_107' class='navItem navItem_107  icon-navItem'><a href='${basePath}/link' _colid='107'
                                                                           id='navbar_107'><span
                class='navItemIcon icon-navItemIcon J_fontIcon'></span><span class='nameWrap'><span
                class='navItemName'><span>联系我们</span></span></span><span class='icon-subNav'></span></a>
        </div>
    </div>
    <div class='navLeft icon-navLeft'></div>
    <div class='navRight icon-navRight'></div>
    <div class='jz_subMenuSeoGhost'></div>
</div>
