<div id="vipvote" style="display: none;" data-mid="${mid!}">
    <div id="vipvotecover" class="mobiPrompt_Bg mobiPromptBgShow" style="opacity: 0.3;">

    </div>
    <div class="contanner">
        <div  class="voteline">
            <p  class="title">打赏动力</p>
            <p class="memo">每票0.2元</p>
        </div>
        <div class="voteline">
            <div class="vbtn" data-val="10" > 10票</div>
            <div class="vbtn" data-val="30"> 30票</div>
            <div class="vbtn" data-val="50"> 50票</div>
        </div>
        <div  class="voteline">
            <div class="vbtn " data-val="100">100票</div>
            <div class="vbtn" data-val="200">200票</div>
            <div class="vbtn" data-val="300">300票</div>
        </div>
        <div  class="voteline">
            <div class="vbtn " data-val="500" >500票</div>
            <div class="vbtn" data-val="1000">1000票</div>
            <div class="vbtn" >
                <input type="text" class="txt" maxlength="6" placeholder="其他票数">
            </div>
        </div>
        <div  class="voteline">
            <input type='button' class=g_button sendIcon' onclick="reward()" value='提交'/>
        </div>
    </div>
</div>