<!DOCTYPE html>
<html>
<head>
    <title>${eModel.name!}</title>
    @include("../common/sys_header.html"){}

    <script type="text/javascript" charset="utf-8" src="${basePath}/voteresource/js/index.js?v=1"></script>
    <script type="text/javascript" charset="utf-8" src="${basePath}/voteresource/js-busi/entry.js?v=3"></script>
    <script type="text/javascript" src="${basePath}/js/imageutils/mobileBUGFix.mini.js?v=1"></script>
    <script type="text/javascript" src="${basePath}/js/imageutils/localResizeIMG.js?v=1"></script>
</head>
<body faiscoMobi="true" id="g_body" class="g_locale2052 mobiCol3">


<div class="visualArea_leftTop"></div>
<div class="webLeft"></div>
<div id="g_web" class="g_web jz_newTheme jz_otherTheme">
    <!-- this is loading  -->
    <div id="webLoading" class="loading" style='display:none;'>
        <div id="splashscreen" class='splashscreen ui-loader'>
            <span class='ui-icon ui-icon-loading spin'></span>
        </div>
    </div>
    <div id="webHeaderBox" class="webHeaderBox    mobiTipsStyle">

        <div id='headerWhiteBg' class='headerSiteMaskWhiteBg'></div>
        <div id='headerBg' class='headerSiteMaskBg'></div>
        <div id='webHeader' class='webHeader webHeaderBg '>
            @include("../common/head_logo.html"){}
        </div>


    </div>
    @include("../common/head_banner.html"){}

    <div id="webContainerBox" class="webContainerBox" style="overflow:visible;">
        <div id="webModuleContainer" class="webModuleContainer">
            @include("../common/head_timer.html",{"type":"e"}){}
            <div id='module358' class='form Handle  formStyle13 ' _autoHeight='1' _height='0' _width='0'
                 _autoWidth='1'
                 _bHeight='0' _inTab='0' _inFold='0' style=''>
                <div _bannerAutoHeight='1' class='formBannerTitle formBannerTitle358'>
                    <div class='titleLeft titleLeft358'>
                    </div>
                    <div class='titleCenter titleCenter358'>
                        <div class='titleText titleText358'>
                            <div class='titleTextIcon icon-titleText'>&nbsp;</div>
                            <div class='textContent'>选手报名</div>
                        </div>
                        <div class='formBannerMore formBannerMore358'></div>
                    </div>
                    <div class='titleRight titleRight358'>
                    </div>
                </div>
                <div class='formMiddle formMiddle358'>
                    <div class='middleLeft middleLeft358'>
                    </div>
                    <div class='middleCenter middleCenter358'>
                        <div class='formMiddleContent formMiddleContent358 moduleContent' _innerType='0'>
                            <div class='siteForm '>
                                <form id="addForm">
                                <div id='siteFormItems1' class='siteFormItemTable'>
                                    <div class='siteFormItem'>
                                        <div style='width: 25%;float: left;'>
                                            <div class='siteFormItemShowName'>
                                                <table style='table-layout:fixed;' width='100%'
                                                       class='siteFormItems_N_U_C' cellpadding='0' cellspacing='0'>
                                                    <tr>
                                                        <td style='padding:0;height:1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'
                                                            width='100%'>选手名称
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div style='width: 75%;float: left;'>
                                            <div class='F1siteFormItemShowVal'>
                                                <input type='text' id="name" name="merchant.name" class='g_itext' placeholder='' maxlength='50'/>
                                                <font style='line-height:1.9rem;width:0.8rem;float:right;'
                                                      color='red'>*</font></div>
                                        </div>
                                    </div>
                                    <div class='siteFormItemLink'></div>
                                    <div class='siteFormItem'>
                                        <div style='width: 25%;float: left;'>
                                            <div class='siteFormItemShowName'>
                                                <table style='table-layout:fixed;' width='100%'
                                                       class='siteFormItems_N_U_C' cellpadding='0' cellspacing='0'>
                                                    <tr>
                                                        <td style='padding:0;height:1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'
                                                            width='100%'>手机号码
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div style='width: 75%;float: left;'>
                                            <div class='F1siteFormItemShowVal'>
                                                <input type='text' class='g_itext' placeholder='' maxlength='20'
                                                       id="phone" name="merchant.phone"/>
                                                <font style='line-height:1.9rem;width:0.8rem;float:right;'
                                                      color='red'>*</font></div>
                                        </div>
                                    </div>
                                    <div class='siteFormItemLink'></div>
                                    <div class='siteFormItem'>
                                        <div style='width: 25%;float: left;'>
                                            <div class='siteFormItemShowName'>
                                                <table style='table-layout:fixed;' width='100%'
                                                       class='siteFormItems_N_U_C' cellpadding='0' cellspacing='0'>
                                                    <tr>
                                                        <td style='padding:0;height:1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'
                                                            width='100%'>地址
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div style='width: 75%;float: left;'>
                                            <div class='F1siteFormItemShowVal'>
                                                <input type='text' class='g_itext'  placeholder='' maxlength='50'
                                                                                      id="address" name="merchant.address"/>
                                                <font style='line-height:1.9rem;width:0.8rem;float:right;'
                                                      color='red'>*</font></div>
                                        </div>
                                    </div>

                                    <div class='siteFormItem'>
                                        <div style='width: 25%;float: left;'>
                                            <div class='siteFormItemShowName'>
                                                <table style='table-layout:fixed;' width='100%'
                                                       class='siteFormItems_N_U_C' cellpadding='0' cellspacing='0'>
                                                    <tr>
                                                        <td style='padding:0;height:1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'
                                                            width='100%'>选手图片
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="img-line">
                                        <div id="img-add">
                                            <input type="file" id="file" name="file" accept="image/*"
                                                   style="display:block;height:110px;width:90%;opacity:0;" />
                                            <img id="imgcover" style=" margin-left: 5%;" src="${basePath}/voteresource/image/addImg.png"/>
                                        </div>
                                    </div>
                                    <div class='siteFormItemLink'></div>
                                </div>
                                <div id='siteFormMsgM358F1' class='siteFormMsg g_warning'></div>
                                    <input type="hidden" id="picturs" name="merchant.pictures">
                                    <input type="hidden" id="eventid" name="merchant.eventid" value="${eModel.id!}">
                                    <input type="hidden" id="source" name="merchant.source" value="2" >
                                    <input type="hidden" id="lng"  name="merchant.lng">
                                    <input type="hidden" id="lat"  name="merchant.lat">
                                </form>
                                <div class='siteFormAddButton'>
                                    <div id='M358F1siteFormAddButton' class='siteFormSend'
                                         onclick='save()'>
                                        <input type='button' class='g_button sendIcon' id="btnSave" value='提交'/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='middleRight middleRight358'>
                    </div>
                </div>


            </div>
        </div>
        @include("../common/bottom_menu.html"){}

        <div id="fixedAreaBox" class="fixedAreaBox fixedAreaBox1029_5" tplid="1029_5">

        </div>


        <!--设置网站的背景颜色  start-->
        <div class="webBackgroundBox  ">
            <div id="webBodyBackground" class="webBackground "></div>
            <div id='navExistOffPanel' class='navExistOffPanel'></div>
        </div>


        <!--设置网站的背景颜色  end-->

        <!-- ------------------------------------------ -->
    </div>
    <div class="webRight"></div>
    <div class="visualArea_rightBottom"></div>
</div>


        @include("../common/sys_footer.html"){}

        @include("../common/vipvote.html"){}

        <script language="JavaScript">

        </script>
</body>
</html>

