<!DOCTYPE html>
<html>
<head>
    <title>${title!}—网络报名</title>
    @include("../common/sys_header.html"){}
</head>
<body faiscoMobi="true" id="g_body" class="g_locale2052 mobiCol3">
<div class="visualArea_leftTop"></div>
<div class="webLeft"></div>
<div id="g_web" class="g_web jz_newTheme jz_otherTheme">
    <!-- this is loading  -->
    <div id="webLoading" class="loading" style='display:none;'>
        <div id="splashscreen" class='splashscreen ui-loader'>
            <span class='ui-icon ui-icon-loading spin'></span>
        </div>
    </div>

    <div id="webHeaderBox" class="webHeaderBox    mobiTipsStyle">

        <div id="headerWhiteBg" class="headerSiteMaskWhiteBg"></div>
        <div id="headerBg" class="headerSiteMaskBg"></div>
        <div id="webHeader" class="webHeader webHeaderBg ">
            <div id="header" class="header-forLogo header " style="padding:0px;">
                <span class="pageLogo  " style="display:none;visibility:hidden;" id="pageLogo" sid="0" pw="160"ph="160">
                    <a href="/"> <div id="pageLogoImg" class="J_logoImg logoImg "  style="background-image:url(//2.ss.faisys.com/image/no-pic.jpg);background-size: contain;background-position: center;background-repeat: no-repeat;"></div></a>
                </span>
                <span class="pageTitle " id="pageTitle">
                    <h1  style="font-weight:normal; font-size: inherit; display: inline-block; width: 100%; overflow: hidden; text-overflow: ellipsis;"><a  href="/" style="color:inherit;">${title!}</a></h1>
                </span>
            </div>
        </div>


    </div>
    @include("../common/head_banner.html"){}

    <div id="webContainerBox" class="webContainerBox" style="overflow:visible;">
        <div id="webModuleContainer" class="webModuleContainer">
            @include("../common/head_timer.html"){}

            <div id='module357' class='form Handle  formStyle41 ' _autoHeight='1' _height='0' _width='0' _autoWidth='1'
                 _bHeight='0' _inTab='0' _inFold='0' style=''>
                <div _bannerAutoHeight='1' class='formBannerTitle formBannerTitle357' style="display: none;">
                    <div class='titleLeft titleLeft357'>
                    </div>
                    <div class='titleCenter titleCenter357'>
                        <div class='titleText titleText357'>
                            <div class='titleTextIcon icon-titleText'>&nbsp;</div>
                            <div class='textContent'>推荐选手</div>
                        </div>
                        <div class='formBannerMore formBannerMore357'></div>
                    </div>
                    <div class='titleRight titleRight357'>
                    </div>
                </div>

                <div id='module358' class='form Handle  formStyle13 ' _autoHeight='1' _height='0' _width='0'
                     _autoWidth='1'
                     _bHeight='0' _inTab='0' _inFold='0' style=''>
                    <div _bannerAutoHeight='1' class='formBannerTitle formBannerTitle358'>
                        <div class='titleLeft titleLeft358'>
                        </div>
                        <div class='titleCenter titleCenter358'>
                            <div class='titleText titleText358'>
                                <div class='titleTextIcon icon-titleText'>&nbsp;</div>
                                <div class='textContent'>在线订餐</div>
                            </div>
                            <div class='formBannerMore formBannerMore358'></div>
                        </div>
                        <div class='titleRight titleRight358'>
                        </div>
                    </div>
                    <div class='formMiddle formMiddle358'>
                        <div class='middleLeft middleLeft358'>
                        </div>
                        <div class='middleCenter middleCenter358'>
                            <div class='formMiddleContent formMiddleContent358 moduleContent' _innerType='0'>
                                <div class='siteForm '>
                                    <div id='siteFormItems1' class='siteFormItemTable'>
                                        <div class='siteFormItem'>
                                            <div style='width: 25%;float: left;'>
                                                <div class='siteFormItemShowName'>
                                                    <table style='table-layout:fixed;' width='100%'
                                                           class='siteFormItems_N_U_C' cellpadding='0' cellspacing='0'>
                                                        <tr>
                                                            <td style='padding:0;height:1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'
                                                                width='100%'>您的姓名
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div style='width: 75%;float: left;'>
                                                <div class='F1siteFormItemShowVal'><input type='text' class='g_itext'
                                                                                          placeholder='' maxlength='100'
                                                                                          name='M358F1siteFormInput0'
                                                                                          id='M358F1siteFormInput0'/>
                                                    <font style='line-height:1.9rem;width:0.8rem;float:right;'
                                                          color='red'>*</font></div>
                                            </div>
                                        </div>
                                        <div class='siteFormItemLink'></div>
                                        <div class='siteFormItem'>
                                            <div style='width: 25%;float: left;'>
                                                <div class='siteFormItemShowName'>
                                                    <table style='table-layout:fixed;' width='100%'
                                                           class='siteFormItems_N_U_C' cellpadding='0' cellspacing='0'>
                                                        <tr>
                                                            <td style='padding:0;height:1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'
                                                                width='100%'>联系电话
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div style='width: 75%;float: left;'>
                                                <div class='F1siteFormItemShowVal'><input type='text' class='g_itext'
                                                                                          placeholder='' maxlength='100'
                                                                                          name='M358F1siteFormInput1'
                                                                                          id='M358F1siteFormInput1'/>
                                                    <font style='line-height:1.9rem;width:0.8rem;float:right;'
                                                          color='red'>*</font></div>
                                            </div>
                                        </div>
                                        <div class='siteFormItemLink'></div>
                                        <div class='siteFormItem'>
                                            <div style='width: 25%;float: left;'>
                                                <div class='siteFormItemShowName'>
                                                    <table style='table-layout:fixed;' width='100%'
                                                           class='siteFormItems_N_U_C' cellpadding='0' cellspacing='0'>
                                                        <tr>
                                                            <td style='padding:0;height:1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'
                                                                width='100%'>用餐时间
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div style='width: 75%;float: left;'>
                                                <div class='F1siteFormItemShowVal'><select
                                                        class='g_selectTag fk-selectStyle' id='M358F1siteFormSelect2'
                                                        name='M358F1siteFormSelect2'>
                                                    <option value='none'>请选择</option>
                                                    <option value='选项一'>选项一</option>
                                                    <option value='选项二'>选项二</option>
                                                    <option value='选项三'>选项三</option>
                                                </select><font style='line-height:1.9rem;width:0.8rem;float:right;'
                                                               color='red'>*</font></div>
                                            </div>
                                        </div>
                                        <div class='siteFormItemLink'></div>
                                        <div class='siteFormItem'>
                                            <div style='width: 25%;float: left;'>
                                                <div class='siteFormItemShowName'>
                                                    <table style='table-layout:fixed;' width='100%'
                                                           class='siteFormItems_N_U_C' cellpadding='0' cellspacing='0'>
                                                        <tr>
                                                            <td style='padding:0;height:1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'
                                                                width='100%'>用餐人数
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div style='width: 75%;float: left;'>
                                                <div class='F1siteFormItemShowVal'><input type='text' class='g_itext'
                                                                                          placeholder='' maxlength='100'
                                                                                          name='M358F1siteFormInput3'
                                                                                          id='M358F1siteFormInput3'/>
                                                    <font style='line-height:1.9rem;width:0.8rem;float:right;'
                                                          color='red'>*</font></div>
                                            </div>
                                        </div>
                                        <div class='siteFormItemLink'></div>
                                        <div class='siteFormItem'>
                                            <div style='width: 25%;float: left;'>
                                                <div class='siteFormItemShowName'>
                                                    <table style='table-layout:fixed;' width='100%'
                                                           class='siteFormItems_N_U_C' cellpadding='0' cellspacing='0'>
                                                        <tr>
                                                            <td style='padding:0;height:1.8rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'
                                                                width='100%'>更多描述
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div style='width: 75%;float: left;'>
                                                <div class='F1siteFormItemShowVal'><input type='text' class='g_itext'
                                                                                          placeholder='' maxlength='100'
                                                                                          name='M358F1siteFormInput4'
                                                                                          id='M358F1siteFormInput4'/>
                                                    <font style='line-height:1.9rem;width:0.8rem;float:right;'
                                                          color='red'>*</font></div>
                                            </div>
                                        </div>
                                        <div class='siteFormItemLink'></div>
                                        <div class='siteFormItem siteFormValidate fk-checkCodeComponent J_formValidation  siteFormValidationHide'>
                                            <div class='fk-checkCodeComponent-field'>
                                                <div class='siteFormItemShowName'>验证码</div>
                                            </div>
                                            <div class='F1siteFormItemShowVal fk-checkCodeComponent-showVal'>
                                                <div class='left siteFormItemValidate' style='width:30%;'><input
                                                        class='g_itext' type='text' placeholder='请输入验证码'
                                                        id='M358F1siteFormValidateCode' maxlength='4' msg='请输入验证码'/>
                                                </div>
                                                <div class='left' style='width:20%;'><img id='M358F1validateCodeImg'
                                                                                          class='validateCodeImg'
                                                                                          onclick='Mobi.siteFormValidation(1, 358)'
                                                                                          title='换一换'
                                                                                          src=''/>
                                                </div>
                                                <div style='background-position:20% 50%;'
                                                     onclick='Mobi.siteFormValidation(1, 358)'
                                                     class='left siteFormValidateUp changeSiteFormValidate'><font
                                                        style='line-height:1.75rem;width:0.8rem;float:right;margin-left:1rem;'
                                                        color='red'>*</font></div>
                                            </div>
                                        </div>
                                        <div class='J_formValidation  siteFormValidationHide'>
                                            <div colspan='2'>
                                                <div class='siteFormItemLink'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id='siteFormMsgM358F1' class='siteFormMsg g_warning'></div>
                                    <div class='siteFormAddButton'>
                                        <div id='M358F1siteFormAddButton' class='siteFormSend'
                                             onclick='Mobi.siteFormAdd(358, 1, F1siteFormItemList, false,"index.jsp",this)'>
                                            <input type='button' class='g_button sendIcon' value='提交'/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='middleRight middleRight358'>
                        </div>
                    </div>
                </div>

                <!--预约面板-->
                <div id="bookingPanelTriggle"></div>
            </div>
        </div>

        @include("../common/bottom_menu.html"){}

        <div id="fixedAreaBox" class="fixedAreaBox fixedAreaBox1029_5" tplid="1029_5">

        </div>


        <!--设置网站的背景颜色  start-->
        <div class="webBackgroundBox  ">
            <div id="webBodyBackground" class="webBackground "></div>
            <div id='navExistOffPanel' class='navExistOffPanel'></div>
        </div>


        <!--设置网站的背景颜色  end-->

        <!-- ------------------------------------------ -->
    </div>
    <div class="webRight"></div>
    <div class="visualArea_rightBottom"></div>


    @include("../common/sys_footer.html"){}


</body>
</html>

