

<script src="${basePath}/voteresource/amazeUI/assets/js/amazeui.min.js"></script>
<script src="${basePath}/voteresource/amazeUI/assets/js/iscroll.js"></script>
<script src="${basePath}/voteresource/amazeUI/assets/js/app.js"></script>
<script src="${basePath}/voteresource/zepto.min.js"></script>
<script src="${basePath}/voteresource/InitJs.js"></script>

<script src="${basePath}/voteresource/clipBoard.min.js"></script>


<script src="${basePath}/voteresource/laydate/laydate.js"></script>
<script src="${basePath}/voteresource/zyUpload/js/zyUpload.js?v=1"></script>
<script src="${basePath}/voteresource/zyUpload/core/zyFile.js"></script>
<script src="${basePath}/voteresource/js/sort.js"></script>