@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/update" method="post" class="form-horizontal" role="form">
		
		<!-- 表单 -->
		@ var _table="glpt_building_owner";
		@ var _key="id";
		@ var _col=[
		@			  {name:"楼宇ID", index:"buildingid", type:"hidden",newline:true,length:8},
		@			  {name:"业主类型", index:"ownertype", type:"select_10002",newline:true,length:8,required:"required"},
		@			  {name:"姓名/公司名称", index:"name", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"法人",placeholder:"企业类型业主请填写", index:"legalperson", type:"text",newline:true,length:8},
		@			  {name:"身份证号码", index:"idno", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"手机号码", index:"phone", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"拥有的楼层",placeholder:"多个楼层请用,分隔", index:"floors", type:"text",newline:true,length:8,required:"required"}
		@		   ];
		@ include("/common/_curd/_edit.html", {"col":_col, "table":_table, "key":_key}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"修改", btn_close:"关闭"}) {}
	</form>

@}