@layout("/common/_curd/_container.html"){


<form data-url="${basePath}/${code}/save" method="post" class="form-horizontal" role="form">
    <div class="form-group gps">
    </div>
    <div class="form-group gps">
    </div>
    <!-- 表单 -->
    @if(t==1){
    <div class="form-group gps">
        <span class="col-sm-2 control-label no-padding-right"><span class="required">*</span>活动编号</span>
        <div class="col-sm-8">
            <input type="text" id="eids" name="eids"  value="${eids!}" placeholder="活动编号，多个用逗号隔开" class="form-control"/>
        </div>
    </div>
    @}else if(t==2){
    <div class="form-group gps">
        <span class="col-sm-2 control-label no-padding-right"><span class="required">*</span>选手编号</span>
        <div class="col-sm-8">
            <input type="text" id="mids" name="mids"    value="${mids!}" placeholder="选手编号，多个用逗号隔开" class="form-control"/>
        </div>
    </div>
    @}
    <div class="form-group gps">
        <span class="col-sm-2 control-label no-padding-right"><span class="required">*</span>调整票数</span>
        <div class="col-sm-3">
            <input type="number" id="tickets_min" value="1" name="${PERFIX}.minvalue" maxlength="8" placeholder="最小值" class="form-control"/>
        </div>
        <span style="float: left">-</span>
        <div class="col-sm-3">
            <input type="number" id="tickets_max" value="15"  name="${PERFIX}.maxvalue"  maxlength="8" placeholder="最大值" class="form-control"/>
        </div>
    </div>
    <div class="form-group gps">
        <span class="col-sm-2 control-label no-padding-right"><span class="required">*</span>执行间隔</span>
        <div class="col-sm-3">
            <input type="number" id="interval" value="60" name="${PERFIX}.interval"  maxlength="8" placeholder="多少分钟执行一次" class="form-control"/>
        </div>
        <span  class="control-label no-padding-right" style="float:left;">分钟</span>
    </div>

    <!--<div class="form-group gps">-->
        <!--<span class="col-sm-2 control-label no-padding-right"><span class="required">*</span>开始时间</span>-->
        <!--<div class="col-sm-8">-->
            <!--<input type="text" id="start_time"  name="${PERFIX}.starttime"  maxlength="20" placeholder="任务开始执行时间" class="form-control"/>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group gps">-->
        <!--<span class="col-sm-2 control-label no-padding-right"><span class="required">*</span>结束时间</span>-->
        <!--<div class="col-sm-8">-->
            <!--<input type="text" id="end_time"  name="${PERFIX}.endtime"  maxlength="20" placeholder="任务停止执行时间" class="form-control"/>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group gps">
    </div>
    <div class="form-group gps">
    </div>
    <script language="JavaScript">
        $(function () {
            laydate.render({
                elem: '#start_time'
                , type: 'datetime'
                , format: 'yyyy-MM-dd HH:mm' //可任意组合
                ,value:'${startTime,"yyyy-MM-dd HH:mm"}'
            });
            laydate.render({
                elem: '#end_time'
                , type: 'datetime'
                , format: 'yyyy-MM-dd HH:mm' //可任意组合
                ,value:'${endTime,"yyyy-MM-dd HH:mm"}'
            });
        });
    </script>

    <!-- 按钮 -->
    @ include("/common/_curd/_btn.html", {btn_save:"新增", btn_close:"关闭"}) {}
</form>

@}
