@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	var _filter=JSON.stringify({"enterpriseid_equal":"${pid}"});
	var pid="${pid}";
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = [
						"认证名称", 
						"认证机构", 
						"认证时间", 
						"有效期限"];
		var _colmodel = [
						{name:"authname", index:"authname", width:100},
						{name:"authorg", index:"authorg", width:100},
						{name:"authdate", index:"authdate", width:100},
						{name:"expirationdate", index:"expirationdate", width:100}];
		
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc",where: _filter}
		});
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
			@		{name:"认证名称", index:"authname", type:"text"},
			@		{name:"认证机构", index:"authorg", type:"text"}			
			@];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	<script type="text/javascript">
	$(function(){
		changethis('authname','认证名称','text',1);
		changethis('authorg','认证机构','text',2);
	})
	</script>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	