@layout("/common/_curd/_container.html"){

	<form class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _col=[
			
@			  {name:"ID", index:"id", type:"text",newline:true,length:8},
		@			  {name:"关联的企业id", index:"enterpriseid", type:"text",newline:true,length:8},
		@			  {name:"buildingid", index:"buildingid", type:"text",newline:true,length:8},
		@			  {name:"floor", index:"floor", type:"text",newline:true,length:8},
		@			  {name:"添加用户ID", index:"adduserid", type:"text",newline:true,length:8},
		@			  {name:"添加用户名", index:"addusername", type:"text",newline:true,length:8},
		@			  {name:"添加时间", index:"addtime", type:"text",newline:true,length:8},
		@			  {name:"修改用户id", index:"modifyuserid", type:"text",newline:true,length:8},
		@			  {name:"修改用户", index:"modifyusername", type:"text",newline:true,length:8},
		@			  {name:"修改时间", index:"modifytime", type:"text",newline:true,length:8},
		@			  {name:"status", index:"status", type:"text",newline:true,length:8}		
		@		   ];
		@ include("/common/_curd/_view.html", {"col":_col}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_close:"关闭"}) {}
	</form>

@}
