<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>投诉该网站</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="${basePath}/voteresource/css/complaint/weui.css">
    <link rel="stylesheet" href="${basePath}/voteresource/css/complaint/weuix.css">

</head>

<body ontouchstart="">
<div class="contianer page-bg">
    <div class="page-bd">
        <div class="weui-cells__title" style="padding: 10px;">请选择投诉该网站的原因：</div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="${basePath}/complaint/next?t=1">
                <div class="weui-cell__bd">
                    <p>网页包含欺诈信息（如：假红包）</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="${basePath}/complaint/next?t=2">
                <div class="weui-cell__bd">
                    <p>网页包含色情信息</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="${basePath}/complaint/next?t=3">
                <div class="weui-cell__bd">
                    <p>网页包含暴力恐怖信息</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="${basePath}/complaint/next?t=4">
                <div class="weui-cell__bd">
                    <p>网页包含政治敏感信息</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="${basePath}/complaint/next?t=5">
                <div class="weui-cell__bd">
                    <p>网页在收集个人隐私信息（如:钓鱼链接）</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="${basePath}/complaint/next?t=6">
                <div class="weui-cell__bd">
                    <p>网页包含诱导分享/关注性质的内容</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="${basePath}/complaint/next?t=7">
                <div class="weui-cell__bd">
                    <p>网页可能包含谣言信息</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>

        </div>


    </div>

    <br>
    <br>
    <div class="weui-footer weui-footer_fixed-bottom">
       <a href="${basePath}/complaint/notice">
           <div  style="   width: 100%;    bottom: 5px;    color: #5195f5;"  >投诉须知</div>
        </a>
    </div>


</div>


</body>
</html>

