<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>投诉须知</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="${basePath}/voteresource/css/complaint/weui.css">
    <link rel="stylesheet" href="${basePath}/voteresource/css/complaint/weuix.css">

</head>
<body ontouchstart="">
<div class="page-hd center" align="center" style="padding: 5px;">
        投诉须知
</div>

<div class="page-bd">
    <div class="weui-cells__title">你应保证你的投诉行为基于善意，并代表你本人真实意思。腾讯作为中立的平台服务者，收到你投诉后，会尽快按照相关法律法规的规定独立判断并进行处理。腾讯将会采取合理的措施保护你的个人信息；除法律法规规定的情形外，未经用户许可腾讯不会向第三方公开、透露你的个人信息。</div>
</div>




</body>
</html>

