<!DOCTYPE html>
<html>
<head>
    <title>投诉该网站</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="${basePath}/voteresource/css/complaint/weui.css">
    <link rel="stylesheet" href="${basePath}/voteresource/css/complaint/weuix.css">

</head>

<body ontouchstart="">

<div class="contianer page-bg">
    <div class="page-bd">
        <div class="weui-cells__title" style="padding: 10px;">你可以：</div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="${basePath}/complaint/submit">
                <div class="weui-cell__bd">
                    <p>提交给微信团队审核</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>

        </div>


    </div>




</div>


</body>
</html>

